.modal-card h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--violeta-oscuro);
  text-align: center;
}

.modal-card p {
  font-size: 14px;
  color: var(--texto-secundario);
  line-height: 1.5;
  text-align: justify;
}